:root {
  
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);

  --white: hsl(0, 0%, 100%);
  --very_light_grayish_blue: hsl(210, 60%, 98%);
  --light_grayish_blue_1: hsl(211, 68%, 94%);
  --light_grayish_blue_2: hsl(205, 33%, 90%);
  --grayish_blue: hsl(219, 14%, 63%);
  --dark_grayish_blue: hsl(219, 12%, 42%);
  --very_dark_blue: hsl(224, 21%, 14%);

  --Font-size-paragraph: 16px;
  --font-family-ld: 'Lexend Deca', sans-serif;
  --font-family-pk: 'Plus Jakarta Sans', sans-serif;
  
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--very_dark_blue);
  background-color: var(--white);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}